// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";
#map {
  height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  background-color: #FCFCFC;
  height: 100%;
  margin: 0;
  padding: 0;
}

.collapsible-header {
  font-size: 2em;
  color: #1fda9a;
  //font-family: 'Oswald';
}

.collapsible-body {
  padding: 20px !important;
  background-color: white;
  & > span {
    color: #1fda9a;
    font-size: 2em;
    //font-family: 'Oswald';
    & > .collection-item {
      padding: 10px;
      color: #1fda9a;
    }
  }

}
