// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";
#map {
  height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  background-color: #FCFCFC;
  height: 100%;
  margin: 0;
  padding: 0;
}

.events.container {
  margin: 50px auto;
}

.collapsible-header {
  //font-family: ;
}

.collapsible-body {
  background-color: white;
  & > span {
    //font-family: ;
  }
}
